<head>
  <link rel="canonical" href="{{ site.url }}{{ page.url }}"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>

  {% if title != blank %}
    {% assign t = site.title | append: ", " | append: title %}
  {% else %}
    {% assign t = site.title %}
  {% endif %}

  <meta property="og:title" content="{{t}}"/>
  <meta property="og:description" content="{{t}}">
  <meta property="og:url" content="{{site.url}}{{page.url}}"/>
  <meta name="description" content="{{t}}" />

  <title>{{ t }}</title>

  {% if env.environment == "production" %}
    <style>
      {% include style/style.css %}
    </style>
  {% else %}
    <link rel="stylesheet" href="/assets/style/style.css">
  {% endif %}

  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/image/icons/favicon.png"/>
</head>
