/*
 * Based on original work under an MIT license by @elotroalex.
 * Based on the Poole and Lanyon theme by @mdo. Learn more at
 * https://github.com/elotroalex/ed.
 */


 /*
 * General
 *
 * Update the foundational and global aspects of the page.
 */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 16px;
  line-height: 1.5;
}

footer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    text-align: center;
}

@media (min-width: 38em) {
  html {
    font-size: 20px;
  }
}

body {
  color: #454545;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

.content {
	margin-bottom: 4rem;
}

/*
 * Wrapper
 *
 * The wrapper is used to position site content when the sidebar is toggled. We
 * use an outter wrap to position the sidebar without interferring with the
 * regular page content.
 */

.wrap {
  position: relative;
  width: 100%;
}

/*
 * Container
 *
 * Center the page content.
 */

.container, .post, .toc, .page, .excerpt {
  width: 100%;
  margin-left:  auto;
  margin-right: auto;
}

.excerpt {
    text-align: left;
}

.post, .toc, .page {
    padding-left: 1em;
    padding-right: 1em;
}

@media (max-width: 37em) {
   .post-title h1 {
       font-size: 3rem;
   }
}
@media (min-width: 38em) {
  .post, .toc {
      max-width: 36em;
  }
  .page {
      max-width: 36em;
  }
  .cover, .copy {
      position: relative;
      width: 100%;
  }
  .right  {
      float: none;
  }
}
@media (min-width: 72em) {
    .cover, .copy {
        float: left;
        width: 50%;
    }
    .post, .toc {
        max-width: 70em;
    }
    .page {
        max-width: 36em;
    }
    .right {
        float: right;
        margin-left: 20px !important;
    }
}

/* links */

.masthead-title a, .post-title a {
  color: #841212;
  text-decoration: none;
}

a, .excerpt a {
  color: #841212;
  text-decoration: underline;
}

a strong {
  color: inherit;
}

/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  text-decoration: underline;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Sorts Mill Goudy',serif;
    font-weight: normal;
    font-stretch: normal;
    font-size: 0.75em;
    line-height: 1.6em;
    letter-spacing: .025em;
}

h1 {
	font-size: 2.7rem;
}

.post img {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.post-title h1 {
    font-style: italic;
    line-height: 1em;
    margin-bottom: 2rem;
    margin-bottom: 2rem;
}

.post-title {
    margin-bottom: 2rem;
}
.post-title img {
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.post-feature-image img{
  width: 100%;
  vertical-align: bottom;
  margin-left: auto;
  margin-right: auto;
}

.more {
    font-family: 'Quicksand', sans-serif;
    font-size: .75em;
    font-weight: 700;
    letter-spacing: 1px;
    position: relative;
    text-transform: uppercase;
    margin-top: 2rem;
}
.more a {
    color: #841212;
    text-decoration: none;
}

.more a:hover, a:focus {
  text-decoration: underline;
}

.post-date, .nav {
    font-family: "Sorts Mill Goudy", serif;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.2em;
    font-size: .9em;
    letter-spacing: -.018em;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 1rem;
}

.nav {
    margin-bottom: .5rem;
}

.nav a {
    text-decoration: none;
    color: #23282d;
}

.nav a:hover, a:focus {
    text-decoration: underline;
}

h2 {
	margin-top: 1rem;
	font-size: 1.2rem;
}

h3, h4, h5 {
	font-size: 1rem;
}

h3 {
  margin-top: 1.5rem;
}

h4, h5, h6 {
  margin-top: 1rem;
}

/* Body text */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  color: #303030;
}


/* Lists */
ul {
	list-style: circle;
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}

/* Misc */

  hr {
    margin-top: 60px;
    position: relative;
    margin: 1.5rem 0;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
  }

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

/* Search Highlihting */

mark {
    color: white;
    background-color: #841212;
}

#search {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  width: 100%;
  line-height: 2rem;
  font-size: 1.25rem;
  padding: .2rem;
  margin-bottom: .5rem;
}

/* Quotes */

blockquote {
	padding: 0rem 1.5rem 0rem 2rem;
	margin: 0 0 20px 0;
	font-style: italic;
    color: #777;
    border-left: 0.25em solid #ddd;
}

blockquote p:last-child {
  margin-bottom: 0;
}

@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}



/* Images */

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

/*
 * Custom type
 *
 * Extend paragraphs with `.lead` for larger introductory text.
 */

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}


/*
 * Messages
 *
 * Show alert messages to users. You may add it to single elements like a `<p>`,
 * or to a parent if there are multiple elements to show.
 */

.message {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #717171;
  background-color: #f9f9f9;
}

/*
 * Masthead
 *
 * Super small header above the content for site name and short description.
 */

.masthead {
    text-align: center;
    padding-top: 1.5rem;
    border-bottom: 1px solid #eee;
    background: #f8f8f8;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #505050;
  line-height: 1.5rem;
}

.masthead-title a {
	color: #841212;
}

.masthead-title a:hover, a:focus {
  text-decoration: none;
}

.masthead .container {
    margin-bottom: 1rem;
}

.masthead small {
    font-family: 'Quicksand',sans-serif;
    font-size: .75em;
    font-weight: 200;
    color: #841212;
    letter-spacing: 0;
    position: relative;
    text-transform: uppercase;
}

h3.masthead-title {
    font-family: 'Abril Fatface', serif;
    font-style: normal;
    font-size: 3.600em;
    font-weight: 700;
    letter-spacing: .1em;
    line-height: 1em;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
}

h3.masthead-title:after {
    content: '';
    width: .762em;
    border-bottom: 1px solid #000;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -.39em;
    margin-top: .26em;
}


@media (max-width: 48em) {
  .masthead-title {
    text-align: center;
  }
  .masthead-title small {
    display: none;
  }
}

/* Page and Posts */

.page {
  margin-bottom: 4em;
}

.page-title {
  color: #404040;
  margin-top: 0;
  text-align: center;
}

/*
 * Themes
 *
 * Apply custom color schemes by adding the appropriate class to the `body`.
 * Based on colors from Base16: http://chriskempson.github.io/base16/#default.
 */


/* Charcoal */
.theme-base-0g .sidebar,
.theme-base-0g .sidebar-toggle:active,
.theme-base-0g #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #23282d;
}
.theme-base-0g .container a,
.theme-base-0g .sidebar-toggle,
.theme-base-0g .related-posts li a:hover {
  color: #23282d;
}


/*                    */
/* ED SPECIAL LAYOUTS */
/*                    */

p.centered {
  text-align: center;
}

p.larger {
  font-size: 1.6rem;
}

p.large {
  font-size: 1.4rem
}

p.small {
  font-size: 0.8rem;
}

div.poem, div.narrative {
  margin-bottom: 5rem;
}

div.toc {
    margin-bottom: 4rem;
    margin: 0 auto;
    text-align: center;
}


/* Poem styles */

/* If you want your lines not to wrap on small screens, add the rule "white-space: nowrap;"; If you want you want to remove the hanging indent, reset the padding-left to 0 and erase text-indent */

.poetry ul, ul.poetry {
	list-style: none;
	list-style-type: none;
	padding-left: 1rem;
	text-indent: -1rem;
}


/* This snippet helps us reset the margin for all spans with the indent- class */

.poetry span[class^='indent-']{
    margin: 0; /* reset browsers default margin styles*/
}

/* To set line indentation for poetry wrap the line in a span, with a class="indent-x" attribute. The x is represents an rem (root em) value */

.indent-1 {
	font-style: normal;
	padding-left: 1rem;
}

.indent-2 {
	font-style: normal;
	padding-left: 2rem;
}

.indent-3 {
	font-style: normal;
	padding-left: 3rem;
}

.indent-4 {
	font-style: normal;
	padding-left: 4rem;
}

.indent-5 {
	font-style: normal;
	padding-left: 5rem;
}

.indent-6 {
	font-style: normal;
	padding-left: 6rem;
}

.indent-7 {
	font-style: normal;
	padding-left: 7rem;
}

.indent-8 {
	font-style: normal;
	padding-left: 8rem;
}

.indent-9 {
	font-style: normal;
	padding-left: 9rem;
}

.indent-10 {
	font-style: normal;
	padding-left: 10rem;
}

.poetry .citation {
	font-style: italic;
	font-size: .9rem;
	color: gray;
}

/* Footnotes styles */

sup, sub {
   vertical-align: baseline;
   position: relative;
   top: -0.4em;
}

sub {
  top: 0.4em;
}

.footnotes {
	line-height: 1.2rem;
	font-size: 0.9rem;
	letter-spacing: .01rem;
}

.footnotes .foot-block {
	display: inline-block;
	padding: 0 4rem 0 2rem;
	margin-bottom: .8rem;
	font-style: italic;
}

a.footnote {
	padding-left: .1rem;
	font-size: .66rem;
}

/*Bibliography styles*/

ol.bibliography {
	list-style-type:none;
	padding-left: 1rem;
	text-indent: -1rem;
}

.pagination {
    position: relative;
    top: .1em;
}

/* book pages */
.book {
    overflow: auto;
	width: 100%
}

.book h2, .book h3 {
    text-align: center;
    margin-top: 0 ;
}

.publisher {
    text-align: center;
}

.cover img {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding: 4px;
}

.copy {
    font-size: .75rem;
}

.image-border {
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding: 10px;
}
