@import "tailwindcss";

@theme {
  --font-family-sans: "Helvetica", sans-serif;
  --font-family-serif: "Times", serif;
}

@layer base {
  a {
    @apply hover:no-underline underline underline-offset-4 decoration-1;
  }
  *, ::after, ::before, ::backdrop, ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

input {
  @apply border border-gray-200 dark:bg-gray-900 p-3 rounded w-full;
}

textarea {
  @apply border border-gray-200 dark:bg-gray-900 p-3 rounded w-full;
}

select {
  @apply border border-gray-200 dark:bg-gray-900 bg-white p-3 rounded w-full
    appearance-none pr-10 text-gray-900 dark:text-white;
  background-image: url("/chevron.svg");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1em;
}

button {
  @apply border text-white dark:text-black bg-black dark:bg-white p-3 rounded
    disabled:cursor-not-allowed cursor-pointer;
}

button[type="button"] {
  @apply border text-white dark:text-black bg-black dark:bg-white p-3 rounded
    disabled:cursor-not-allowed cursor-pointer;
}

button[type="submit"] {
  @apply border text-white dark:text-black bg-black dark:bg-white p-3 rounded
    disabled:cursor-not-allowed cursor-pointer;
}
