---
layout: default

pagination:
   data: collections.posts
   size: 10
   reverse: true
   addAllPagesToCollections: true
   alias: posts
---

<div class="w-11/12 mx-auto flex flex-col items-center">
   {% for item in posts %}
      <div>
         {% if item.data.image %}
            <a href="{{ site.baseurl }}{{ item.url }}">
               {% picture item.data.image, item.data.title %}
            </a>
         {% endif %}
      </div>
      <div class="title text-3xl italic py-2">
         <a href="{{ site.baseurl }}{{ item.url }}">
            {{ item.data.title }}
         </a>
      </div>
      <div class="italic text-base py-4">{{ item.date | date: '%B %d, %Y' }}</div>
      <div class="text-base text-justify py-4 space-y-7">
         {% if item.data.page.excerpt %}
            {{ item.data.page.excerpt | md }}
         {% else %}
            {{ item.templateContent | md }}
         {% endif %}
      </div>
      <div class="title font-bold py-2 space-y-7 tracking-wider">
         {% if item.data.page.excerpt %}
            <a href="{{ site.baseurl }}{{ item.url }}" class="next">MORE</a>
         {% endif %}
      </div>
      <hr class="w-full border-gray-200 m-2"/>
   {% endfor %}

   <div class="italic text-lg font-medium tracking-wide mt-10 whitespace-nowrap">
      &laquo;
      {% if page.url != pagination.href.first %}
         <a href="/" class="next">First</a>
      {% else %}First{% endif %}
      &lsaquo;
      {% if pagination.href.previous %}
         <a href="{{ pagination.href.previous }}" class="previous">Prev</a>
      {% else %}Prev{% endif %}
      |
      {% if pagination.href.next %}
         <a href="{{ pagination.href.next }}" class="next">Next</a>
      {% else %}Next{% endif %}
      &rsaquo;
      {% if page.url != pagination.href.last %}
         <a href="{{ pagination.href.last }}" class="next">Last</a>
      {% else %}Last{% endif %}
      &raquo;
   </div>
   <div class="italic text-lg font-medium tracking-wide mt-10 whitespace-nowrap">
      <a href="/search" class="next">Search</a>
   </div>
</div>
